#login-area-super-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    background-color: #000000cc;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#login-area-container {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    background-color: #000000dd;
    transform: translate(-50%, -50%);
    padding: 1em;
}

#login-area-container h3 {
    color: white;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

#login-area-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
}

#login-button-container {
    margin: 10px;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
}

#login-button-container button {
    margin: 10px;
    margin-right: 0;
}

.login-field {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    #login-area-form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 30px;
        transform: translate(-50%, -50%);
    }
    
    #login-area-container h3 {
        font-size: 18pt;
    }
}