#tools-list-container {
    /* display: flex; */
    margin: 0;
    /* padding: 0 20px; */
    max-width: 100%;
    /* height: 50vh; */
    /* align-items: stretch; */
    /* justify-self: center; */
}

#tools-list-row {
    
}

#tools-super-container {
    /* margin-top: 6em; */
}

#tools-container {
    /* margin-top: 3px;
    display: flex;
    justify-content: space-evenly; */
}

#tools-label {
    color: black;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 24px;
}

.tool-item-container {
    list-style: none;
    /* margin: 5px; */
    padding: 2px;
    /* border: 2px solid #f1f1f1; */
    /* color: #ffffff; */
    cursor: pointer;
    text-align: center;
    /* background-color: #00000066; */
}

.tool-item {
    background-color: #ffffff99;
    /* border: 1px solid #ffffff33; */
    /* border: 1px solid #000000dd; */
    padding: 12px;
}

.tool-item-container:hover {
    /* background-color: #00000011; */
    font-weight: bold;
}

.tool-item:hover {
    /* background-color: #00000011; */
    background-color: white;
    font-weight: bold;
    /* border-width: 2px; */
}

.tool-image-container {

}

.tool-title-container {
    margin-top: 12px;
}

.tool-logo {
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}