#tabs-super-container {
    padding-top: 2em;
    /* height: 100vh; */
}

#tabs-container {
    margin-top: 20px;
    /* margin: 0 20px; */
    /* height: 50vh; */
}

#tabs-label {
    /* color: #f1f1f1; */
    font-weight: bold;
}

#tabs-container button {
    background-color: transparent;
    /* color: #f1f1f1; */
    /* border: 2px solid #f1f1f1; */
}

#tabs-list-container {
    /* position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0; */
}

#tabs-list-row {
    position: relative;
    justify-content: center;
}

.tab-item-container {
    background-color: white;
    margin: 2px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.tab-item-launch-all-container {
    position: relative;
    background-color: #ffffff33;
}

.tab-item-launch-all-container h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

.tab-item-container:hover {
    background-color: #f1f1f1;
}

.tab-item-container:hover .tab-item-logo {
    background-color: #f1f1f1;
}

.tab-item-launch-all-container:hover {
    background-color: #ffffff88;
}

/* .tab-item-container:hover h6 {
    color: #000000dd;
} */

.tab-item-logo {
    width: 100%;
    height: 100%;
    background-color: white;
}

.tab-item-logo img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    padding: 10px;
    /* position: absolute; */
    /* width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.tab-item-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* color: #f1f1f1;
    background-color: #00000088; */
    /* padding: 3px; */
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.tab-item {
    width: 100%;
}

#tabs-browser-button {
    /* width: 100%; */
    /* height: 100px; */
    margin: 0 auto;
    padding: 5px 10px;
    border: 0 solid #aeaeae;
    background-color: #ffffff33 !important;
}

#tabs-browser-button p {
    margin: 0;
    padding: 0;
}

.urls-scroll-menu {
    overflow: hidden !important;
}

.urls-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}