#extensions-super-container {
    padding: 0;
    /* margin-top: 2em; */
}

#extensions-container {
    /* margin: 0;
    padding: 0; */
}

#extension-items-description-container {
    margin: 0;
    padding: 20px;
    /* border: 1px solid white; */
    width: 100%;
}

#extensions-label {
    color: black;
    margin-bottom: 24px;
    font-weight: bold;
}

#extension-items-list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.extension-item {
    margin: 0;
    /* padding: 5px; */
    /* border-bottom: 1px solid lightgray; */
    list-style: none;
    cursor: pointer;
}

.extension-carousel-item {
    position: relative;
    height: 50vh;
    background-color: #000000dd;
}

.extension-image-contain {
    object-fit: contain !important;
}

.extension-image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.extension-item:hover {
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}

.extension-item-label {
    color: #f1f1f1;
    padding: 10px 0;
}

#extension-items-description-carousel {
    /* height: 100%; */
    color: #f1f1f1;
}

#extension-items-description-carousel h3 p {
    color: #f1f1f1;
}

.get-extension-button {
    cursor: pointer;
    border: 2px solid #ebecec;
    background-color: #000000dd;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 12px;
    text-transform: uppercase;
    color: white;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.get-extension-button:hover {
    background-color: gray;
    border-color: #f1f1f1;
}

.extensions-carousel-caption-container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    background-color: #00000099;
    width: 100vw;
    padding: 12px;
}

.extensions-carousel-caption-container {
    font-weight: bold;
}

.carousel-indicators {
    margin: 0;
    z-index: 100;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 60%;
}