#admin-area-super-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    background-color: #000000cc;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#admin-area-container {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    /* background-color: #000000dd; */
    background-color: #f1f1f1;
    transform: translate(-50%, -50%);
    padding: 3em;
}

#admin-area-close-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-list-area {
    position: relative;
    margin-top: 50px;
    overflow-y: auto;
    max-height: 80%;
}

#admin-area-close-button-container button {
    /* color: white; */
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.admin-section-row {
    padding: 6px;
    margin-top: 3px;
}

.admin-section-row.even-row {
    
}

.admin-section-mod-button {
    width: 100px;
}

#admin-tabs-container {
    display: flex;
    direction: row;
    margin: 0 auto !important;
    justify-content: center;
    width: 100%;
    /* width: 300px; */
    margin: 10px 0;
}

.admin-tab {
    margin: 10px;
}

.admin-section-images-list {
    overflow-y: auto;
    margin-top: 1em;
    max-height: 250px;
    /* background-color: red; */
}

.admin-section-image-name {
    color: white;
    display: inline;
    margin-left: 20px;
}

.admin-section-image {
    width: 50px;
    height: 50px;
    object-fit: fill;
    text-align: center;
}

.admin-section-image-container {
    position: relative;
    padding: 10px;
    margin: 10px;
}

.admin-section-image-container:hover {
    background-color: #f1f1f133;
}

#admin-section-add-images-input {
    /* background-color: red; */
}

#admin-section-add-images-button {
    justify-self: center;
    width: 100%;
}

.admin-section-image-remove-button {
    position: absolute;
    background-color: red;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.admin-section-image-remove-button div {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-section-order-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.admin-section-order-button {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  /* color: white; */
  cursor: pointer;
  font-size: smaller;
}

.admin-section-order-button.up .icon {
  color: green;
}

.admin-section-order-button.down .icon {
  color: #ff000088;
}