body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #030c0d; */
  background-color: #f1f1f1;
  padding: 12px;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-label {
  text-align: center;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .section-label {
    font-size: 18pt;
    font-weight: bold;
    margin: 12px;
  }
}

.section-super-container {
  padding: 1em 0;
  overflow-x: hidden !important;
}

#footer {
  margin-top: 20px;
  text-align: center;
  /* color: white; */
}

#admin-button-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0.6;
  z-index: 9;
  -webkit-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

#admin-button-container:hover {
  opacity: 1;
}

#admin-button {
  border: 1.5px solid #aeaeae;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  
}

#admin-button-image {
  object-fit: contain;
  width: 30px;
  height: 30px;
}